.logo img{
    width: 225px;
    height: 72px;
    margin:0;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

.Navigatie{
    list-style: none;
    display: flex;
    grid-auto-flow: column;
    margin: 0;
    margin-left: 10em;

    a {
        color: white;
        font-size: 14pt;
        text-decoration: none;
    }
}

li{
    margin-right: 30px;
}

.nav-container {
    display:flex;
}
