.logo img{
    width: 225px;
    height: 72px;
    margin:0;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

.Navigatie{
    list-style: none;
    font-size: 1.3em;
    display: flex;
    grid-auto-flow: column;
    color: black;
    margin: 0;
    margin-left: 10em;


}

li{
    margin-right: 30px;
}

.nav-container {
    display:flex;
}